md-sidenav-layout {
  height: 100%;
}

.active{
  color:white !important;
  font-size: 18px;
  text-decoration: none;
  background: orangered !important;
  border:none;
}
a.active{
text-decoration: none !important;
}
item.active{
  border:none !important;
  border-color: orangered !important;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active{
  border-color: orangered !important;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
  border-color: orangered !important;
}

item.active:hover{
  border:none !important;
  border-color: orangered !important;
}

a:hover {
 text-decoration: none !important;
}

md-toolbar.md-accent{
  background:orangered !important;
}

md-sidenav-layout /deep/ .md-sidenav-content {
  overflow: hidden;
}

md-sidenav {
  width: 250px;
  height: 100%;
  padding: 0;
  background-color: lightgray;
}

.sidenav-title {
  color: black;
  text-indent: 20px;
 
  padding: 3px;
}

.sidenav-menu {
  text-indent: 20px;
}

.app-content {
  padding: 20px;
  overflow: auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}














