md-sidenav-layout {
  height: 100%;
}
a{
  color:blue;
}
a:hover {
 text-decoration: none;
}

.active{
  background: orangered;
  color:white; 
}

md-sidenav-layout /deep/ .md-sidenav-content {
  overflow: hidden;
}

md-sidenav {
  width: 250px;
  height: 100%;
  padding: 0;
  background-color: lightgray;
}

.sidenav-title {
  color: black;
  text-indent: 20px;
 
  padding: 3px;
}

.sidenav-menu {
  text-indent: 20px;
}

.app-content {
  padding: 20px;
  overflow: auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}














